$major-bg-color: #fff;
$minor-bg-color: #000;
$major-text-color: #343434;
$minor-text-color: #fff;
$minor-border-color: #fff;
$border-color: #ededed;
$menu-border-color: #ddd;
$line-bg-color: #33cc00;
$line-border-color: #e0e0e0;
$link: #00aa00;
$link-hover: #006600;
$section-hover: #eee;
$semi-overlay: rgba(0, 0, 0, .2);
$mid-overlay: rgba(0, 0, 0, .65);
$semi-transparent-white: rgba(255, 255, 255, .5);
$button-bg: #33cc00;